@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  .music-playing {
    animation: musicPlaying 1.3s infinite;
    transition: all 1.3s ease;
  }

  .music-path {
    transition: all 1s ease;
  }

  @keyframes musicPlaying {
    0% {
      d: path(
              'M 50.00,20         C 50.00,20 50.00,35.00 50.00,35.00             50.00,35.00 47.00,35.00 47.00,35.00             47.00,35.00 47.00,20 47.00,20             47.00,20 50.00,20 50.00,20 Z           M 41.00,20           C 41.00,20 41.00,35.00 41.00,35.00             41.00,35.00 38.00,35.00 38.00,35.00             38.00,35.00 38.00,20 38.00,20             38.00,20 41.00,20 41.00,20 Z           M 32.00,20           C 32.00,20 32.00,35.00 32.00,35.00             32.00,35.00 29.00,35.00 29.00,35.00             29.00,35.00 29.00,20 29.00,20             29.00,20 32.00,20 32.00,20 Z           M 23.00,20           C 23.00,20 23.00,35.00 23.00,35.00             23.00,35.00 20.00,35.00 20.00,35.00             20.00,35.00 20.00,20 20.00,20             20.00,20 23.00,20 23.00,20 Z           M 14.00,20           C 14.00,20 14.00,35.00 14.00,35.00             14.00,35.00 11.00,35.00 11.00,35.00             11.00,35.00 11.00,20 11.00,20             11.00,20 14.00,20 14.00,20 Z           M 5.00,20           C 5.00,20 5.00,35.00 5.00,35.00             5.00,35.00 2.00,35.00 2.00,35.00             2.00,35.00 2.00,20 2.00,20             2.00,20 5.00,20 5.00,20 Z'
      );
    }
    50% {
      d: path(
              'M 50.00,10         C 50.00,10 50.00,35.00 50.00,35.00             50.00,35.00 47.00,35.00 47.00,35.00             47.00,35.00 47.00,10 47.00,10             47.00,10 50.00,10 50.00,10 Z          M 41.00,15.00           C 41.00,15.00 41.00,35.00 41.00,35.00             41.00,35.00 38.00,35.00 38.00,35.00             38.00,35.00 38.00,15.00 38.00,15.00             38.00,15.00 41.00,15.00 41.00,15.00 Z           M 32.00,16           C 32.00,16 32.00,35.00 32.00,35.00             32.00,35.00 29.00,35.00 29.00,35.00             29.00,35.00 29.00,16 29.00,16             29.00,16 32.00,16 32.00,16 Z           M 23.00,15           C 23.00,15 23.00,35.00 23.00,35.00             23.00,35.00 20.00,35.00 20.00,35.00             20.00,35.00 20.00,15 20.00,15             20.00,15 23.00,15 23.00,15 Z           M 14.00,10           C 14.00,10 14.00,35.00 14.00,35.00             14.00,35.00 11.00,35.00 11.00,35.00             11.00,35.00 11.00,10 11.00,10             11.00,10 14.00,10 14.00,10 Z           M 5.00,15.00           C 5.00,15.00 5.00,35.00 5.00,35.00             5.00,35.00 2.00,35.00 2.00,35.00             2.00,35.00 2.00,15.00 2.00,15.00             2.00,15.00 5.00,15.00 5.00,15.00 Z'
      );
    }
    100% {
      d: path(
              'M 50.00,20         C 50.00,20 50.00,35.00 50.00,35.00             50.00,35.00 47.00,35.00 47.00,35.00             47.00,35.00 47.00,20 47.00,20             47.00,20 50.00,20 50.00,20 Z           M 41.00,20           C 41.00,20 41.00,35.00 41.00,35.00             41.00,35.00 38.00,35.00 38.00,35.00             38.00,35.00 38.00,20 38.00,20             38.00,20 41.00,20 41.00,20 Z           M 32.00,20           C 32.00,20 32.00,35.00 32.00,35.00             32.00,35.00 29.00,35.00 29.00,35.00             29.00,35.00 29.00,20 29.00,20             29.00,20 32.00,20 32.00,20 Z           M 23.00,20           C 23.00,20 23.00,35.00 23.00,35.00             23.00,35.00 20.00,35.00 20.00,35.00             20.00,35.00 20.00,20 20.00,20             20.00,20 23.00,20 23.00,20 Z           M 14.00,20           C 14.00,20 14.00,35.00 14.00,35.00             14.00,35.00 11.00,35.00 11.00,35.00             11.00,35.00 11.00,20 11.00,20             11.00,20 14.00,20 14.00,20 Z           M 5.00,20           C 5.00,20 5.00,35.00 5.00,35.00             5.00,35.00 2.00,35.00 2.00,35.00             2.00,35.00 2.00,20 2.00,20             2.00,20 5.00,20 5.00,20 Z'
      );
    }
  }

  /* infinite scrolling below */

  /* body {
  background-color: #000;
} */

  .text-scroll-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .text-scroll-container .scroll {
    width: 100%;
    display: flex;
  }
  .text-scroll-container .scroll div {
    color: #000;
    font-size: 5em;
    font-weight: 900;
    white-space: nowrap;
    text-transform: uppercase;
    animation: animate 60s linear infinite;
    /*display: none;*/
    animation-delay: -60s;
  }

  .text-scroll-container .scroll div:nth-child(2) {
    animation: animate2 60s linear infinite;
    animation-delay: -30s;
  }

  .text-scroll-container .scroll div span {
    -webkit-text-stroke: 2px #000;
    color: transparent;
  }
  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .text-scroll-container .scroll.text4 {
    transform: translateY(350px);
    /*transform: rotate(1deg) translateY(350px);*/
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);*/
  }

  /* Typing animation cursor*/
  .custom-type-animation-cursor::after {
    content: '|';
    animation: cursor 1.1s infinite step-start;
  }

  @keyframes cursor {
    50% {
      opacity: 0;
    }
  }

}
